{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>edit & update page</title>
    <link rel="stylesheet" href="{% static 'button.css' %}" >
    <link rel="stylesheet" href="{% static 'ed.css' %}" >

</head>
<link>
<body>
    <div class="topnav">
        <a href="/home">{{user}}</a>
        <a class="active" href="/home">Home</a>
        <a href="{% url 'stinsert' %}">Dashboard</a>
        <a href="/">Logout</a>
    </div>
    <center>
        <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"> UPDATE THE COURRIER </h1>
        <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ; font-size:20px"> WITH REFERENCE NO    {{crudst.sno}}</h2>
    <hr/>
    <form method ="POST" action="/update/{{crudst.id}}">
        {% csrf_token %}
    <table class="content-table">
                <tr class="one">
            
            <td>
                <p>FROM: </p>
            </td>
            <td><input type="text" name="fromdes" value="{{crudst.fromdes}}"></td>
            
            
            <td>
                <p>TO:</p>
            </td>
            <td><input type="text" name="todes" maxlength="10" size="10" height="1000" value="{{crudst.todes}}"></td>
            <td>
               <p>STATUS:</p>
            </td>
            <td><input type="text" name ="status" value="{{crudst.status}}"></td>
            <td>
               <p> REFERENCE NO: </p>
            </td>
            <td><input type="text" name="sno" value="{{crudst.sno}}"></td>
            <td>
               <p> PRICE: </p>
            </td>
            <td><input type="text" name="price" value="{{crudst.price}}"></td>
        </tr>
    </table>
    <input type="submit" class="button button4" value="Upadate record"/>
    <hr/>
    {% if messages %}
        {% for result in messages%}
        <b style="color:rgb(15, 15, 15);">{{result}}</b> 
        {% endfor %}
        {% endif %}
    </center>
</body>
</html>