<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" name="sno">
        <button type="submit">Search</button>

    </form>
    {% for displayst in detail%}
            <tr>
                <td>{{displayst.id}}</td>
                <td>{{displayst.stname}}</td>
                <td>{{displayst.stemail}}</td>
                <td>{{displayst.staddress}}</td>
                <td>{{displayst.sno}}</td>
                
                <td><button type="submit" href="/edit/{{displayst.id}}"">Edit</button></td>
                <td><a href="/edit/{{displayst.id}}">Edit</a></td>
                <td><a href="/Delete/{{displayst.id}}">Delete</a></td>
                
            </tr>
            
            {% endfor %}
    
</body>
</html>